html {
  font-family: "Noto Sans", sans-serif;
}

body > header > h1 {
  margin: 0;
  padding: 0;
  font-size: 12pt;
}

form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
}

textarea {
  width: 100%;
}

dt {
  font-weight: bold;
}

dd:empty::before,
td:empty::before {
  content: "(empty)";
  color: gray;
}

ul:empty:before,
ol:empty:before {
  content: "(empty list)";
  color: gray;
}

table {
  border: solid 1px black;
  border-collapse: collapse;
}

td,
th {
  padding: 0.5rem 1rem;
}

td {
  border: dashed 1px black;
}

.property--Keywords,
.property--supportedQueryFormats,
.property--supportedImageFormatTypes,
.property--capabilities,
.property--tags,
.property--typeKeywords {
  list-style: none;
  padding: 0;
  margin: 0;
}

.property--Keywords li,
.property--supportedQueryFormats li,
.property--supportedImageFormatTypes li,
.property--capabilities li,
.property--tags li,
.property--typeKeywords li {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem;
  color: white;
  background: green;
  border-radius: 5px;
}

.property--codedValues {
  font-size: 8pt;
}

.property--codedValues td,
.property--codedValues th {
  padding: 0.2rem;
  margin: 0;
}

dd {
  margin-inline-start: 2rem;
}

.layer-resource-link-list,
.breadcrumbs ol {
  list-style: none;
  padding: 0;
  margin: 0 0 1em 0;
}

.layer-resource-link-list {
  margin-top: 0.5em;
}

.breadcrumbs ol {
  background-color: lightgreen;
}

.layer-resource-link-list li,
.breadcrumbs li {
  display: inline-block;
  list-style: none;
  margin: 0.2em;
}

.breadcrumbs li:not(:first-child):before {
  content: ">";
}

.layer-resource-link-list li:not(:last-child):after {
  content: "|";
  margin-left: 0.2em;
}

.layer-resource-link-list:before {
  content: "Resources:";
  font-weight: bold;
}
