@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

html {
    font-family: 'Noto Sans', sans-serif;
}

form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
}

textarea {
    width: 100%;
}

dt {
    font-weight: bold;
}

dd:empty::before, td:empty::before {
    content: '(empty)';
    color: gray;
}

table {
    border: solid 1px black;
    border-collapse: collapse;
}

td, th {
    padding: 0.5rem 1rem;
}

td {
    border: dashed 1px black;
}